.header {
background-image: url(../img/limpias/header.jpg);
height: 90vh;
max-width: 100%;
background-position: center;
background-size: cover;
}

.logo {
border-radius: 8px;
}

body{
font-family: 'Times New Roman', Times, serif;
background-color: rgba(68, 197, 154, 0.123);
max-width: 1470px;
}

h1{
color:black;
font-size:60px ;
}

h2{
font-size: 40px;
text-align: center;
margin: 15px;
}

h3{
font-size: 30px;
text-align: center;
padding: 0px;
margin: 10px;
padding-bottom: 15px;
}

.imagenes_secundarias{
border-radius: 50%;
width: 400px;
display: block;
margin-left: auto;
margin-right: auto;
}

.barra_menu{
width: 1470px;
background-color: black;
position: fixed;
border-radius: 15px;
box-shadow: 0px 4px 8px 1px;
}

.titulo{
height: 83%;
}

.anuncios{
display: flex;
padding-top: 4px;
}

.anuncios a{
flex: 1;
color: white;
text-decoration: none;
font-size: 24px;
transition: 0.9s;
}

.anuncios a:hover {
color: rgb(4, 246, 121);
font-weight: bold;
}

.main{
display: flex;
flex-direction: column;
gap: 1px;
}


.fosiles{
background-color: rgb(207, 208, 208);
display: flex;
gap: 25px;
max-width: 1370px;
margin-left: 50px;
box-shadow: 0px 4px 8px 0px;
padding-left: 20px;
border-radius: 15px;
}

.limpias{
background-color: rgb(38, 214, 123);
display: flex;
gap: 25px;
max-width: 1370px;
margin-left: 50px;
box-shadow: 0px 4px 8px 0px;
padding-left: 20px;
border-radius: 15px;
}

.cliqueables{
text-decoration: none;
color: #000;
transition: 0.6s;
}

.cliqueables:hover{
color:black;
font-weight:bold;
font-size:larger;
}


footer{
background-color: black;
color: white;
text-align: center;
font-size: 24px;
border-radius: 15px;
padding: 0.2px;
box-shadow: 0px 4px 8px 1px;
margin-bottom: 0px;
margin-top: 15px;
}

/* a partir de aca es el css para nosotros.html */

.body_nosotros{
background-color: rgb(118, 124, 124);
}


.h1_portada{
text-align: center;
margin-top: 60px;
}

.h2_portada{
margin-top: 0px;
padding-top: 0px;
}

article{
font-size: 22px;
}

.fotos{
border-radius: 15%;
display: block;
width: 500px;
box-shadow: 0px 8px 20px 4px;
}

.biografia{
display: flex;
justify-content: space-between;
flex: 1;
margin-left: 50px;
gap: 80px;
}

.articulos{
background-color: black;
color: white;
padding: 15px;
border-bottom-left-radius: 15%;
border-top-right-radius:15%;
box-shadow: 0px 8px 20px 4px;
}

.nosotros{
display: flex;
flex-direction: column;
max-width: 1400px;
margin-bottom: 50px;

}